@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg-light {
  background: linear-gradient(135deg, #E8F5FD 0%, rgba(231, 234, 236, 0.56) 100%);
}

.signup-gradient {
  background: linear-gradient(136deg, #77DEF4 0%, #5CA4E8 100%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  margin-left: 10px;
  margin-right: 10px;
  /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* background: yellow;
  margin-left: 10px;
  margin-right: 10px; */
  /* color of the tracking area */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9e9b9c;

  border-radius: 20px;
  border: 3px solid #9e9b9c;
}