@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes indexBounce {

  0%,
  100% {
    transform: translateY(15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-indexBounce {
  animation: indexBounce 3s infinite ease-in-out;
}

@keyframes tbounce {

  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-tbounce {
  animation: tbounce 4s infinite ease-in-out;
}

/* 
.gradient-bg-light {
  background: linear-gradient(107deg, #D9F0FF 3.72%, #E3E5E5 107.94%);
} */

/* styles.css or in your Tailwind CSS file */



.gradient-bg-light {
  background-color: hsla(231, 76%, 97%, 1);
  background-image:
    radial-gradient(at 13% 80%, hsla(206, 81%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 77% 1%, hsla(200, 77%, 91%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 37%, hsla(189, 50%, 89%, 1) 0px, transparent 50%),
    radial-gradient(at 61% 60%, hsla(216, 100%, 82%, 1) 0px, transparent 50%),
    radial-gradient(at 53% 90%, hsla(204, 80%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 52%, hsla(193, 100%, 91%, 1) 0px, transparent 50%),
    radial-gradient(at 54% 0%, hsla(213, 63%, 81%, 1) 0px, transparent 50%);
}

/* .gradient-bg-light {
  background: linear-gradient(108deg, #E8F5FD 3.73%, rgba(231, 234, 236, 0.56) 99.09%);
} */

/* .gradient-bg-light {
  background-color: #F3EEEA;
  background-image:
    radial-gradient(at 24% 100%, #dadcd7 0px, transparent 50%),
    radial-gradient(at 80% 0%, #ECE3CE 0px, transparent 50%),
    radial-gradient(at 0% 50%, #F0F0F0 0px, transparent 50%),
    radial-gradient(at 80% 50%, #FFF2D8 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(191, 47%, 82%, 0.58) 0px, transparent 50%),
    radial-gradient(at 84% 100%, #FFF2D8 0px, transparent 50%),
    radial-gradient(at 0% 0%, #F0F0F0 0px, transparent 50%);
} */

.signup-gradient {
  background: linear-gradient(136deg, #77DEF4 0%, #5CA4E8 100%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  max-width: 8px;
  min-width: 8px;
  /* width of the entire scrollbar */
}



.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9e9b9c;
  border-radius: 20px;
  border: 3px solid #9e9b9c;
  padding: 10px;
}