.svg-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}

.custom-blue-via {
    background-image: linear-gradient(112deg, #2C74B3 8.02%, rgba(45, 215, 215, 0.59) 110.24%);
}